---
layout: layout.liquid
title: Home
---

<div class="grid grid-flow-col justify-center items-center pt-5 pb-2.5">
    <img alt="Dogs on a mountain top" src="/images/RaptorRidge.png"/>
    <img alt="Dogs on a hiking trail" src="/images/MissionRegional.png"/>
    <img alt="Dogs sitting on a rock" src="/images/SouthClevenger.png"/>
</div>

<div class="philosophy">
    <h2>Surf and Sniffs: Philosophy</h2>
    <p>At Surf and Sniffs, we believe dogs deserve more than just a walk — they deserve an adventure.</p>
    <p>Born by the beach and inspired by the boundless joy of salty breezes and curious noses, Surf and Sniffs is about freedom, fun, and full tail wags. We're not just leash-holders — we're your dog's surf buddy, trail guide, and sniff safari leader.</p>
    <p>We believe:</p>
    <ul>
        <il class="bullets">A good walk is a sensory experience — full of sights, smells, sounds, and joy.</il>
        <il class="bullets">Nature is a playground — and San Diego is our backyard.</il>
        <il class="bullets">Every dog is unique — so we tailor every outing to your pup's personality and pace.</il>
        <il class="bullets">Trust and safety come first — we walk with heart, responsibility, and real love for your best friend.</il>
    </ul>
    <p>Whether it's a breezy beach stroll, a sunny park trot, or a mellow neighborhood cruise, Surf and Sniffs is here to keep your pup happy, healthy, and living their best California life. Because around here, every day’s a good day for a sniff and a strut by the surf.</p>
</div>