---
layout: layout.liquid
title: Staff - Surf & Sniffs
---

<div class="flex justify-center items-center gap-4 pt-5 pb-2.5">
    <img alt="Snow at Mount Laguna" src="/images/hSnow.png"/>
    <img class="hidden sm:block" alt="Dog in the forest" src="/images/Forest.png"/>
    <img class="hidden md:block" alt="Owner with dog by the water" src="/images/hBay.png"/>
</div>

<div class="mb-5">
<div class="staff">
    <h2>Surf & Sniffs Owner</h2>
    <p class="small">Holly founded Surf & Sniffs after moving back to San Diego in 2026. A lifelong dog lover, she grew up teaching her family’s dachshund to navigate a homemade agility course made from logs near the backyard campfire—starting at just 12 years old.</p> 
    <p class="small">While in college, Holly adopted her first dog, and since then, she’s moved (at times with three dogs in tow) all over the country in support of her husband’s military career.</p> 
    <p class="small">With a special fondness for terrier mixes and a passion for hiking, Holly brings decades of hands-on experience with high-energy, strong-willed breeds—and the stamina to keep up with even the most energetic pups.</p> 
    <p class="smEnd">She earned her degree in Animal Science and Agribusiness Management from Michigan State University, where she studied from 2005 to 2011.</p>
</div>
</div>