@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/tuffy');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    background-color: #ECE2D1;
    font-family: "Tuffy";
}

nav {
    height: 75px;
    background-color: #5A584D;
    position: sticky;
    top: 0;
}

h1 {
    color:#ECE2D1;
    font-size: 2em;
    font-family: "Tilt Warp";
    -webkit-text-stroke: 1px #8D7053;
    text-shadow: 2px 2px 2px #303030;
}

li {
    color: #ECE2D1;
    font-size: 1.25em;
}

footer {
    height: 40px;
    background-color: #5A584D;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}