@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/tuffy');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

body {
    background-color: #ECE2D1;
    font-family: "Tuffy";
    font-color: #303030;
}

nav {
    height: 75px;
    background-color: #5A584D;
    position: sticky;
    top: 0;
}

h1 {
    color:#ECE2D1;
    font-size: 2em;
    font-family: "Tilt Warp";
    -webkit-text-stroke: 1px #8D7053;
    text-shadow: 2px 2px 2px #303030;
}

h2 {
    font-size: 1.25em;
    text-shadow: 1px 1px 1px #303030;
}

.ndrop {
    color: #ECE2D1;
    font-size: 1.25em;
}

.philosophy {
    margin: auto;
    width: 50%;
    max-height: 150;
    overflow-y: auto;
}

.bullets {
    background: url(paw-solid.svg) no-repeat center left;
}

footer {
    height: 40px;
    background-color: #5A584D;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}