@import url('https://fonts.cdnfonts.com/css/tuffy');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');

.root {
    --main-bg-color: #ECE2D1;
    --alt-bg-color: #5A584D;
    --primary-text-color: #303030;
    --alt-text-color: #5A584D;
    --tri-text-color: #ECE2D1;
    --accent-color: #8D7053;
    --alt-accent-color: #CDAC87;
}

